html {
  height: 100vh;
  margin: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background-color: transparent;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  width: 100%;
  margin: 0;
  zoom: 90%;
}

input,
button {
  border: none;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}
