@import "theme/theme.scss";
@import "override";

* {
  font-family: "SF Pro Display";
  font-weight: bold;
}

body,
#__nuxt,
#__layout,
.theme-wrapepr,
.app-wrapper {
  min-height: 100%;
  height: 100%;
}

.app-wrapper {
  display: block;
  overflow: auto;
  min-height: 100%;
  @include themed() {
    background: t("bg");
    color: t("text-color");
  }
}

// header

.brand {
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  @include themed() {
    color: t("text-color");
  }
}

.theme-switch {
  border-radius: 25px;
  cursor: pointer;
  transition: all 1s;

  @include themed() {
    border: 1px solid t("border");
  }

  .switcher {
    height: 38px;
    width: 38px;
    border-radius: 50%;
  }
  .switcher.active {
    background-color: white;
  }
}
